<a href="https://colab.research.google.com/github/ianplace08/Py_Udemy/blob/main/Python_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* Is a special case of a list where the elements can only be **unique**.
* The set **can not** be indexed
* Sets does not have an order
* Sets are mutable
* We create a set using **curly brackets** {}

In [2]:
my_set = {1,2,3}
## my_set[1]=1 -->> This one will show an error

REPEATED VALUES IN A SET

* it will print only the unique values

In [3]:
my_set = {1,2,3,1}
print(my_set)

{1, 2, 3}

How to add and Remove values?

In [4]:
## We use the ADD function

my_set={1,2,3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

In [6]:
## We remove elements using the POP function

my_set={1,2,3}
my_set.pop() ## I put the position of the value that will be removed. The first element of the pop will be removed
print(my_set)

{2, 3}

CREATING A SET

In [7]:
my_set={1,5.2,'s'}

In [8]:
my_set

{1, 5.2, 's'}

In [9]:
print(type(my_set))

<class 'set'>

SET INDEXING

In [10]:
my_set[0] ## It will show that SET objects do not support indexing

TypeError: ignored

DUPLICATED VALUES

In [11]:
my_set = {1,1,1,2,1}

In [12]:
my_set

{1, 2}

ADDING VALUES

In [13]:
my_set.add(3)

In [14]:
my_set

{1, 2, 3}

In [15]:
my_set.add(5)

In [16]:
my_set

{1, 2, 3, 5}

REMOVING VALUES

In [18]:
my_set.pop()

1

In [19]:
my_set

{2, 3, 5}

In [20]:
my_set.pop()

2

In [21]:
my_set

{3, 5}