<a href="https://colab.research.google.com/github/ianplace08/Py_Udemy/blob/main/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tuple is a special case of a list where the elements **can not be change**
* Tuples are inmutable

In [1]:
my_tuple=(1,2,5.3)
print(type(my_tuple))

<class 'tuple'>

In [2]:
print(my_tuple[1])

2

EMPTY TUPLES

In [3]:
empty_tuple=()
print(empty_tuple)
print(len(empty_tuple))

()
0

TUPLES WITH ONE ELEMENT

In [4]:
tuple_one=("Ahmed")
print(type(tuple_one))
tuple_one = (2)
print(type(tuple_one))

<class 'str'>
<class 'int'>

USE TRAILING COMA

* allows to make a tuple with one element

In [5]:
tuple_one=("Ahmed"),
print(type(tuple_one))
tuple_one = (2),
print(type(tuple_one))

<class 'tuple'>
<class 'tuple'>

TUPLE PACKING

* we can write it with or without the circular brackets and python will understand that is a tuple.
* A tuple mix different type of data

In [6]:
t = 12345,54321,'hello!'
print(t)
print(type(t))

(12345, 54321, 'hello!')
<class 'tuple'>

SEQUENCE UNPACKING

* the inverse operation

In [7]:
x,y,z=t
print(x)
print(y)
print(z)

12345
54321
hello!

TUPLE FUNCTIONS

In [8]:
tuple_one = (2,1,2,3,2)
print(tuple_one.count(2))

3

In [10]:
tuple_one.index(3)

3